/* Colors
Asphault - rgb(81,88,96)
Sidewalk - rgb(206,206,194)
Grass - rgb(88,131,77)
Sky - rgb(101,168,246)
*/


/* Typography */
h1 {
    margin-top: 0;
}


html, body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	height: 100%;
}

/* Header Styling */
header {
    // Blaine, you might not want to explicity set a header height (or at least only set the height for desktop browsers)
	//height: 120px;
	background-color: rgb(81,88,96);
	text-align: center;
	color: rgb(206,206,194);
    padding-bottom: 20px;
	//margin-top: -21px; // again I'm pulling this out and just setting margin-top for all h1s explicity
}

header .brand {
	width: 100%
}

header .brand h1 {
	padding: 10px 0 0 0;
}

header nav {
	display: inline-block;
	margin: 5px 5px 0 0;
}

header nav a {
	border: 1px solid;
	text-decoration: none;
	color: rgb(206,206,194);
	padding: 10px 30px;
    display: inline-block;
}

header nav a:hover {
	background-color: rgb(88,131,77);
	transition: background .25s;
}

@media (max-width: 650px) {
    header nav a {
        display: block;
        margin-bottom: 10px;
        /* blaine -- here is where you can put styles for viewports under 650px. */
    }
}


/* Footer */
footer {
	height: 80px;
	background-color: rgb(81,88,96);
	text-align: center;
	clear: all;
	margin: -21px 0 -21px 0;
}

footer ul {
	list-style: none;
	padding: 20px 0 0 0;
}

footer ul li {
	display: inline-block;
	margin: 5px 20px 0 5px;
}

footer ul li a {
	text-decoration: none;
	color: rgb(206,206,194);
}

/* Home Page - Hero */
.hero {
	text-align: center;
	height: 350px;
	background: url(../img/maine-panorama-home-hero.jpg) no-repeat center center;
	background-size: cover;
	color: rgb(81,88,96);
	/* margin-top: -25px; */
    /* Blaine: rather than set a negative margin top for yoru hero, let's set margin top for all H1s to 0. By default, Chrome and other browsers
       give a default margin if you don't provide one. I have added the "typography" section above. */
}

.hero h1 {
	padding: 70px 0 0 0;
}

/* Home Page - Detail */
.detail {
	height: 300px;
	margin-top: -20px;
	background-color: rgb(206,206,194);
	color: rgb(81,88,96);
	text-align: center;
}

.detail .row .column {
	width: 35%;
	margin-right: 20px;
	display: inline-block;
	text-align: center;
}

/* Article Pages */
.article {
	margin-top: -22px;
	background-color: rgb(206,206,194);
	color: rgb(81,88,96);
	padding-bottom: 20px;
}

.article .headline {
	text-align: center;
}

.article .headline h1 {
	padding-top: 30px;
	text-align: center;
}

.article .content {
	width: 50%;
	margin: auto;
}

