/*
Things learned:
	- Don't explicity set heights for various sections.
		- Let the elements within your header determine how much space it needs.
		- Or, if you need more space, apply padding?
	- If there is unwanted whitespace between your sections or elements, check their margins.
		- Certain elements get assigned top and bottom margins automatically by browsers.
		- Set the margin to 0 if you need to
*/

/* Colors
Asphault - rgb(81,88,96)
Sidewalk - rgb(206,206,194)
Grass - rgb(88,131,77)
Sky - rgb(101,168,246)
*/

html, body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	height: 100%;
}

/* Typography */
h1 {
    margin-top: 0;
}

.home-tile-heading {
	color: rgb(81,88,96);
	text-decoration: none;
}

.home-tile-heading:hover {
	text-decoration: underline;
}


/* Header Styling */
header {
	background-color: rgb(81,88,96);
	text-align: center;
	color: rgb(206,206,194);
    padding-bottom: 20px;
}

header .brand {
	width: 100%
}

header .brand h1 {
	padding: 10px 0 0 0;
}

header nav {
	display: inline-block;
	margin: 5px 5px 0 0;
}

header nav a {
	border: 1px solid;
	text-decoration: none;
	color: rgb(206,206,194);
	padding: 10px 30px;
    display: inline-block;
}

header nav a:hover {
	background-color: rgb(88,131,77);
	transition: background .25s;
}

@media (max-width: 650px) {
    header nav a {
        display: block;
        margin-bottom: 10px;
    }
}


/* Footer */
footer {
	height: 80px;
	background-color: rgb(81,88,96);
	text-align: center;
	clear: all;
	margin: 0;
}

footer ul {
	margin-top: 0px;
	list-style: none;
	padding: 20px 0 0 0;
}

footer ul li {
	display: inline-block;
	margin: 5px 20px 0 5px;
}

footer ul li a {
	text-decoration: none;
	color: rgb(206,206,194);
}

/* Home Page - Hero */
.hero {
	text-align: center;
	height: 350px;
	background: url(../img/maine-panorama-home-hero.jpg) no-repeat center center;
	background-size: cover;
	color: rgb(81,88,96);
}

.hero h1 {
	padding: 70px 0 0 0;
}

/* Home Page - Detail */
.detail {
	height: 300px;
	margin-top: 0;
	background-color: rgb(206,206,194);
	color: rgb(81,88,96);
	text-align: center;
}

.detail .row .column {
	width: 35%;
	margin-right: 20px;
	display: inline-block;
	text-align: center;
}


/* Article Pages */
.article {
	background-color: rgb(206,206,194);
	color: rgb(81,88,96);
}

.article .headline {
	text-align: center;
}

.article .headline h1 {
	padding-top: 30px;
	text-align: center;
}

.article .content {
	width: 50%;
	margin: auto;
	padding: 0 0 10px 0;
}

