h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 10px; }

header {
  background-color: #515860;
  text-align: center;
  color: #cecec2;
  padding-bottom: 20px; }
  header .brand {
    width: 100%; }
    header .brand h1 {
      padding: 10px 0 0 0; }
  header nav {
    display: inline-block;
    margin: 5px 5px 0 0; }
    header nav a {
      border: 1px solid;
      text-decoration: none;
      color: #cecec2;
      padding: 10px 30px;
      display: inline-block; }
      header nav a:hover {
        background-color: #58834d;
        transition: background .25s; }

footer {
  background-color: #515860;
  height: 60px;
  text-align: center;
  clear: all;
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%; }
  footer nav {
    padding: 20px 0 20px 0; }
    footer nav a {
      display: inline-block;
      margin: 0 15px 0 15px;
      text-decoration: none;
      color: #cecec2; }
      footer nav a:hover {
        text-decoration: underline; }

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: #cecec2; }

#wrapper {
  min-height: 100%;
  position: relative; }

/* Home Page - Hero */
.hero {
  text-align: center;
  height: 350px;
  background: url(../img/maine-panorama-home-hero.jpg) no-repeat center center;
  background-size: cover;
  color: #515860; }
  .hero h1 {
    padding: 70px 0 0 0; }

/* Home Page - Detail */
.detail {
  margin-top: 0;
  background-color: #cecec2;
  color: #515860;
  text-align: center;
  padding-bottom: 60px; }
  .detail .column {
    width: 35%;
    display: inline-block;
    text-align: center; }
    .detail .column .detail-container {
      padding: 20px; }
      .detail .column .detail-container a {
        color: #515860;
        text-decoration: none; }
        .detail .column .detail-container a img {
          margin: 0 auto 0;
          width: 85%;
          height: auto;
          border: 2px solid transparent; }
        .detail .column .detail-container a:hover {
          text-decoration: underline; }
          .detail .column .detail-container a:hover img {
            border: 2px solid #515860; }

/* Article Pages */
.article {
  background-color: #cecec2;
  color: #515860;
  padding-bottom: 60px; }
  .article .headline {
    text-align: center; }
    .article .headline h1 {
      padding-top: 30px;
      text-align: center; }
    .article .headline img {
      width: 40%;
      height: auto; }
  .article .content {
    width: 40%;
    height: 100%;
    margin: auto;
    padding: 0 0 10px 0; }
    .article .content .menu {
      margin-top: 20px; }
      .article .content .menu .menu-text {
        padding: 5px; }
        .article .content .menu .menu-text a {
          text-decoration: none;
          color: #515860; }
          .article .content .menu .menu-text a:hover {
            text-decoration: underline; }
        .article .content .menu .menu-text hr {
          color: #515860; }

@media (max-width: 650px) {
  /* Header */
  header nav a {
    display: block;
    margin-bottom: 10px; }

  /* Footer */
  footer nav a {
    display: block;
    margin-bottom: 10px; }

  /* Home Page - Detail */
  .detail .column {
    display: block;
    width: 100%; }

  /* Article */
  .article .headline img {
    width: 90%;
    height: auto; }
  .article .content {
    width: 90%; } }

/*# sourceMappingURL=style.css.map */
