h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 10px; }

p {
  line-height: 1.4; }

a {
  color: #142F5A; }

header {
  background-color: #142F5A;
  color: #CECEC2; }

#menu-row {
  text-align: center;
  width: 100%;
  padding-bottom: 4px; }
  #menu-row a {
    font-size: 22.5px;
    text-decoration: none;
    color: #CECEC2; }

#branded-link {
  width: 48%;
  display: inline-block;
  text-align: left; }

#menu-link {
  width: 48%;
  display: inline-block;
  text-align: right; }

#nav {
  text-align: center;
  width: 100%;
  display: none;
  padding-bottom: 10px; }
  #nav a {
    margin: 2.5px;
    display: block;
    border: 1px solid;
    text-decoration: none;
    color: #CECEC2;
    padding: 10px 30px; }
    #nav a:hover {
      background-color: #558F5C;
      transition: background .25s; }

@media (max-width: 699px) {
  #menu-link {
    font-size: 75%; }

  #branded-link {
    font-size: 75%; }

  #nav a {
    display: block; } }
footer {
  background-color: #142F5A;
  height: 60px;
  text-align: center;
  clear: all;
  margin: 0;
  bottom: 0;
  position: absolute;
  width: 100%; }
  footer nav {
    padding: 20px 0 0 0; }
    footer nav a {
      display: inline-block;
      margin: 0 15px 0 15px;
      text-decoration: none;
      color: #CECEC2; }
      footer nav a:hover {
        text-decoration: underline; }

@media (max-width: 699px) {
  footer {
    height: 140px; }
    footer nav a {
      display: block;
      margin-bottom: 10px; } }
#slaying-results {
  background-color: #272822;
  color: #558F5C; }

#credits {
  margin-top: 5px; }

#stat-zone {
  width: 100%;
  text-align: center; }

#player-hp, #dragon-hp, #arrow-inventory, #cabbage-inventory {
  display: none;
  border: 1px solid #558F5C;
  padding: 2px 4px; }

#story-zone, #control-zone {
  width: 80%;
  text-align: center;
  padding-top: 3px;
  margin-right: auto;
  margin-left: auto; }

#battle-start, #sword, #arrows, #cabbage {
  margin-left: 1px;
  margin-right: 1px;
  background-color: #272822;
  color: #558F5C;
  border: 1px solid #558F5C; }
  #battle-start:hover, #sword:hover, #arrows:hover, #cabbage:hover {
    cursor: pointer; }
  #battle-start:active, #sword:active, #arrows:active, #cabbage:active {
    border: 1px solid #558F5C; }

@media (max-width: 699px) {
  #stat-zone {
    font-size: 70%; } }
.calendar-controls label {
  font-size: 80%; }
.calendar-controls div {
  display: inline-block;
  margin: 0 5px 0 5px; }

.calendar-zone {
  text-align: center; }

.calendar {
  border: 1px #142F5A solid;
  text-align: center;
  margin: 0 auto 10px; }
  .calendar th {
    background-color: #558F5C; }
  .calendar td {
    padding: 12px; }

.adjacent-month {
  background-color: grey; }

.cville-distance {
  background-color: none; }

.cville-residency {
  background-color: none; }

.dc-distance {
  background-color: none; }

.dc-residency {
  background-color: none; }

@media (max-width: 699px) {
  .calendar-controls {
    text-align: center; }
    .calendar-controls div {
      display: block; }
    .calendar-controls button {
      margin-top: 5px; } }
html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  background-color: #fff; }

#wrapper {
  min-height: 100%;
  position: relative; }

.action-button {
  border: 1px solid;
  text-decoration: none;
  color: #CECEC2;
  padding: 10px 30px;
  background-color: #142F5A; }
  .action-button:hover {
    background-color: #558F5C;
    transition: background .25s; }

#credits {
  font-size: 50%;
  margin-left: 5px; }

.hero {
  text-align: center;
  height: 350px;
  background: url(../img/maine-panorama-home-hero.jpg) no-repeat center center;
  background-size: cover;
  color: #142F5A; }
  .hero h1 {
    padding: 70px 0 0 0; }

.detail {
  margin-top: 0;
  background-color: #fff;
  color: #142F5A;
  text-align: center;
  padding-bottom: 60px; }

.column {
  width: 40%;
  display: inline-block;
  text-align: center; }

.detail-container {
  padding: 20px; }
  .detail-container a {
    color: #142F5A;
    text-decoration: none; }
    .detail-container a img {
      margin: 0 auto 0;
      width: 90%;
      height: auto;
      border: 2px solid transparent; }
    .detail-container a:hover {
      text-decoration: underline; }
      .detail-container a:hover img {
        border: 2px solid #142F5A; }

.article {
  background-color: #fff;
  color: #142F5A;
  padding-bottom: 60px; }

.headline {
  text-align: center; }
  .headline h1 {
    padding-top: 30px;
    text-align: center; }
  .headline img {
    width: 40%;
    height: auto; }

.content {
  width: 40%;
  height: 100%;
  margin: auto;
  padding: 0 0 10px 0; }

.menu {
  margin-top: 20px; }
  .menu .menu-text {
    padding: 5px; }
    .menu .menu-text a {
      text-decoration: none;
      color: #142F5A; }
      .menu .menu-text a:hover {
        text-decoration: underline; }
    .menu .menu-text hr {
      color: #142F5A; }

#click-to-play {
  text-align: center;
  margin: 50px auto 50px;
  border: 1px solid #558F5C;
  padding: 10px;
  color: #558F5C;
  background-color: #272822;
  font-size: 120%; }
  #click-to-play:hover {
    cursor: pointer; }

@media (max-width: 699px) {
  .hero {
    height: 200px; }
    .hero h1 {
      padding: 30px 0 0 0; }

  .detail {
    padding-bottom: 140px; }
    .detail .column {
      display: block;
      width: 100%; }

  .article {
    padding-bottom: 140px; }
    .article .headline img {
      width: 90%;
      height: auto; }
    .article .content {
      width: 90%; } }

/*# sourceMappingURL=style.css.map */
