$asphault: rgb(81,88,96);
$sidewalk: rgb(206,206,194);
$grass: rgb(88,131,77);
$sky: rgb(101,168,246);


footer {
	background-color: $asphault;
	text-align: center;
	clear: all;
	margin: 0;
	nav {
		padding: 20px 0 20px 0;
		a {
			display: inline-block;
			margin: 0 15px 0 15px;
			text-decoration: none;
			color: $sidewalk;
		}
	}
}