footer {
	background-color: $primary-1;
	height: 60px;
	text-align: center;
	clear: all;
	margin: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	nav {
		padding: 20px 0 0 0;
		a {
			display: inline-block;
			margin: 0 15px 0 15px;
			text-decoration: none;
			color: $primary-2;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@include mobile {
    footer {
    	height: 140px;
    	nav a {
    		display: block;
    		margin-bottom: 10px;
    	}
    }
}
