header {
	background-color: $primary-1;
	text-align: center;
	color: $primary-2;
    padding-bottom: 20px;
}

#brand {
	width: 100%;
	h1 {
		padding: 10px 0 0 0;
	}
}

#menu-expand {
	display: none;
}

#nav {
    width: 100%;
    nav {
    	a {
            margin: 2.5px;
            display: inline-block;
        	border: 1px solid;
    		text-decoration: none;
    		color: $primary-2;
    		padding: 10px 30px;
    	    display: inline-block;
    	    &:hover {
    	    	background-color: $accent-1;
    	    	transition: background .25s;
    	    }
    	}
    }
}

@media (max-width: 650px) {
	#nav {
        display: none;
        width: 75%;
        margin: 10px auto 0;
        nav {
            margin-top: 5px;
            a {
                display: block;
            }
        }
    }

	#brand {
		width: 50%;
		float: left;
		text-align: left;
		font-size: $mobile-h1-size;
		h1 {
			margin: 0 0 0 20px;
		}
	}

	#menu-expand {
		width: 50%;
		text-align: right;
		display: inline-block;
		font-size: $mobile-h1-size;
		h1 {
			padding: 10px 0 0 0;
			margin: 0 20px 0 0;
			&:hover {
				cursor: pointer;
			}
		}
	}  
}


