header {
	background-color: $primary-1;
	color: $primary-2;
}

#menu-row {
	width: 100%;
}

#menu-h2 {
	margin-bottom: 0;
}

#branded-link{
	width: 48%;
	display: inline-block;
	text-align: left;
	a {
		text-decoration: none;
		color: $primary-2;
	}
}

#menu-link {
	width: 48%;
	display: inline-block;
	text-align: right;
	&:hover{
		cursor: pointer;
	}
}


#nav {
	text-align: center;
    width: 100%;
    display: none;
    padding-bottom: 10px;
	a {
        margin: 2.5px;
        display: block;
    	border: 1px solid;
		text-decoration: none;
		color: $primary-2;
		padding: 10px 30px;
	    &:hover {
	    	background-color: $accent-1;
	    	transition: background .25s;
	    }
	}
}


@include mobile {
	#menu-link {
		font-size: $mobile-h1-size;
	}

	#branded-link {
		font-size: $mobile-h1-size;
	}

	#nav a {
		display: block;
	}
}