// Hey Luan! Take a look at my attempt at SCSS below, and let me know if it looks alright.

// Header Styling
header {
	background-color: rgb(81,88,96);
	text-align: center;
	color: rgb(206,206,194);
    padding-bottom: 20px;
    .brand {
    	width: 100%;
    	h1 {
    		padding: 10px 0 0 0;
    	}
    }
    nav {
    	display: inline-block;
    	margin: 5px 5px 0 0;
    	a {
	    	border: 1px solid;
			text-decoration: none;
			color: rgb(206,206,194);
			padding: 10px 30px;
		    display: inline-block;
		    &:hover {
		    	background-color: rgb(88,131,77);
		    	transition: background .25s;
		    }
		}
    }
}


@media (max-width: 650px) {
    header nav a {
        display: block;
        margin-bottom: 10px;
        /* blaine -- here is where you can put styles for viewports under 650px. */
    }
}



