// ----
// color variables
// ----
$primary-1: #142F5A;
$primary-2: #CECEC2;
$accent-1: #558F5C;
$accent-2: #99CCFB;
$accent-3: #56B6F3;
$accent-4: #272822;

// ----
// breakpoint variables
// ----
// adjust your breakpoints here
$tablet-width: 700px;
$desktop-width: 1024px;



// ----
// other variables
// ----
$mobile-h1-size: 75%;



// ----
// breakpoint mixins
// ----

// Blaine: I added some mixins that you can use throughout your .scss files.
// instead of having to write the same media query multiple times, such as @media (max-width: 650px) {}
// now, you will be able to do this
// @include mobile {
//      put styles here.
// }
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}