// Dragon Slayer V2
#slaying-results {
	background-color: $accent-4;
	color: $accent-1;
}

#status-row {
	width: 100%;
	text-align: center;
}

#player-hp {
	width: 48%;
	display: none;
	text-align: left;
}
#dragon-hp {
	width: 48%;
	display: none;
	text-align: right;
}

#story-zone {
	width: 80%;
	text-align: center;
	padding-top: 3px;
	margin-right: auto;
	margin-left: auto;
}