// Dragon Slayer V2
#slaying-results {
	background-color: $accent-4;
	color: $accent-1;
}

#status-row {
	width: 100%;
	text-align: center;
}

#player-hp, #dragon-hp, #arrow-inventory, #cabbage-inventory {
	display: none;
	border: 1px solid $accent-1;
	padding: 2px 4px;
}

#story-zone, #control-zone {
	width: 80%;
	text-align: center;
	padding-top: 3px;
	margin-right: auto;
	margin-left: auto;
}