// Dynamic Calendar
.calendar-controls {
	label {
		font-size: 80%;
	}
	div {
		display: inline-block;
		margin: 0 5px 0 5px;
	}
}

.calendar-zone {
	text-align: center;
}

.calendar{
	border: 1px $primary-1 solid;
	text-align: center;
	margin: 0 auto 10px;
	th {
		background-color: $accent-1;
	}
	td {
		padding: 12px;
	}
}

.adjacent-month {
	background-color: grey;
}

.days-of-week {
	div {
		display: inline-block;
		border: solid $primary-1;
		border-width: 0 1px 0 1px;
		margin-left: 0;
		margin-right: 0;
	}
}

.days {
	div {
		display: inline-block;
		border: solid $primary-1 1px;
	}
}

@include mobile {
	.calendar-controls {
		text-align: center;
		div {
			display: block;
		}
		button {
			margin-top: 5px;
		}
	}
}