// Dynamic Calendar
.calendar-controls {
	label {
		font-size: 80%;
	}
	div {
		display: inline-block;
		margin: 0 5px 0 5px;
	}
}

.calendar-zone {
	text-align: center;
}

.calendar{
	border: 1px $primary-1 solid;
	text-align: center;
	margin: 0 auto 10px;
	th {
		background-color: $accent-1;
	}
	td {
		padding: 12px;
	}
}

.adjacent-month {
	background-color: grey;
}


.distance {

}

@include mobile {
	.calendar-controls {
		text-align: center;
		div {
			display: block;
		}
		button {
			margin-top: 5px;
		}
	}
}