@import "typography";
@import "header";
@import "footer";

$asphault: rgb(81,88,96);
$sidewalk: rgb(206,206,194);
$grass: rgb(88,131,77);
$sky: rgb(101,168,246);

html, body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	height: 100%;
}

/* Home Page - Hero */
.hero {
	text-align: center;
	height: 350px;
	background: url(../img/maine-panorama-home-hero.jpg) no-repeat center center;
	background-size: cover;
	color: $asphault;
	h1 {
		padding: 70px 0 0 0;
	}
}

/* Home Page - Detail */
.detail {
	margin-top: 0;
	background-color: $sidewalk;
	color: $asphault;
	text-align: center;
	.column {
		width: 35%;
		display: inline-block;
		text-align: center;
		img {
			margin: 5px auto 20px auto;
		}
	}
}


/* Article Pages */
.article {
	background-color: $sidewalk;
	color: $asphault;
	.headline {
		text-align: center;
		h1 {
			padding-top: 30px;
			text-align: center;
		}
	}
	.content {
		width: 50%;
		margin: auto;
		padding: 0 0 10px 0;
	}
}

@media (max-width: 650px) {
    header nav a {
        display: block;
        margin-bottom: 10px;
    }
    .detail .column {
    	display: block;
    	width: 80%;
    }
}
